In [1]:
import pandas as pd

In [2]:
file_path = 'Downloads/Kenvue_data/Total Trade Spend.csv'

In [3]:
data = pd.read_csv(file_path)

In [4]:
data.head()

,Fiscal Year,Fiscal Week,Need State 1,Need State 2,Need State 3,Need State 4,Need State 5
0,2021,1,5552,14264,1563,18716,5075
1,2021,2,18939,12329,8658,8069,11307
2,2021,3,11346,6351,4032,3128,6585
3,2021,4,4801,14715,13935,9324,6835
4,2021,5,17470,16092,13601,5460,11902

In [5]:
cleaned_data = data.melt(id_vars=['Fiscal Year', 'Fiscal Week'], 
                         var_name='Need State', 
                         value_name='Amount')
cleaned_data.rename(columns={'Fiscal Year': 'Year', 'Fiscal Week': 'Week'}, inplace=True)

In [6]:
cleaned_data.to_csv('Downloads/Kenvue_data/Cleaned_Total_Trade_Spend.csv', index=False)