In [1]:
import pandas as pd

In [2]:
file_path = 'Downloads/Kenvue_data/Total Sales - UTSC Lecture.csv'

In [3]:
data = pd.read_csv(file_path)

In [4]:
data.head()

,Fiscal Year,Fiscal Week,Need State 1,Need State 2,Need State 3,Need State 4,Need State 5
0,2021,1,132818.25,251858.25,209473.50,373678.50,246819.75
1,2021,2,395708.25,510633.75,683112.00,597628.50,465099.75
2,2021,3,207779.25,525278.25,627825.75,300238.50,548790.75
3,2021,4,323169.75,480166.50,318566.25,319001.25,553418.25
4,2021,5,71536.50,304409.25,439665.00,433508.25,323542.50

In [5]:
cleaned_data = data.melt(id_vars=['Fiscal Year', 'Fiscal Week'], 
                         var_name='Need State', 
                         value_name='Amount')
cleaned_data.rename(columns={'Fiscal Year': 'Year', 'Fiscal Week': 'Week'}, inplace=True)

In [6]:
cleaned_data.to_csv('Downloads/Kenvue_data/Cleaned_Total_Sales.csv', index=False)